@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #f7f7f7;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* overflow: hidden; */
}

/* ============================ header ======================== */
header{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 6px 7px 30px #C7E4F4;
    z-index: 1;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 15px 5px 5px;
    padding: 5px;
}
.navbar a{
    /* color: #f2f2f2; */
    color: #096992;
    text-decoration: none;
}

.navbar .logo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: "Share Tech Mono", monospace; */
    font-weight: 700;
    font-style: normal;
    font-size: 1.4em;
}
.menu{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon{
    color: #0B87BC;
}
.icon .bx-envelope{
    font-size: 24px;
}
.icon .bx-bell{
    font-size: 24px;
}

.icon .bx-user-circle{
    color: #171717;
}

/* ===================== Dropdown ===================== */

/* ======== dropdown notif ============== */

.action-notif {
    top: 20px;
    right: 30px;
}

.menuDrop-notif {
    position: absolute;
    top: calc(100% + 40px);
    right: -55px;
    width: fit-content; /* Atur lebar dropdown */
    background-color: #ffffff;
    border-radius: 10px;
    /* transition: 0.5s; */
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: none;
    z-index: 101;
}
.menuDrop-notif .active{
    top: 91px;
    visibility: visible;
    opacity: 1;
    z-index: 10000;
    overflow: hidden;
}
.menuDrop-notif::before{
    content: "";
    position: absolute;
    top: -5px;
    right: 56px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    transform: rotate(45deg);
    z-index: 1;
}

.menuDrop-notif .notifList{
    margin: 15px 4px 10px 9px;
    width: 350px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menuDrop-notif ul li{
    list-style: none;
}

.menuDrop-notif .notifList .isi{
    color: #545252;
    font-size: 16px;
}
.menuDrop-notif .notifList .time{
    color: #b6b6b6;
    font-size: 16px;
}




/* ======== dropdown profile ============== */

.action{
    /* position: fixed; */
    top: 20px;
    right: 30px;

}

.action .profile{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 100;
}

.action .user{
    position: absolute;
    top: 0;
    left: 0;
}

.menuDrop{
    position: absolute;
    top: 80px;
    right: 25px;
    padding: 10px 20px;
    background: #ffffff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.2);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
}

.menuDrop.active{
    top: 91px;
    visibility: visible;
    opacity: 1;
    z-index: 10000;
}

.menuDrop::before{
    content: "";
    position: absolute;
    top: -5px;
    right: 34px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    transform: rotate(45deg);
    z-index: 10000;
}

.menuDrop ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    direction: flex;
    align-items: center;
    justify-content: center;
}

.menuDrop ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.menuDrop ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.menuDrop ul li:hover a{
    color: #02aef8;
}


/* =================   isi content    ================== */

.container {
    display: grid;
    grid-template-areas: 
        "header"
        "content";
    grid-template-columns: auto;
    grid-template-rows: auto auto; 
    gap: 10px;
    margin: 0 13px;
    z-index: 1;
    /* height: 100vh; */
}

.content {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

/* =================        sideMenu        ================= */
.sideMenu{
    border-radius: 10px;
    /* flex: 0 0 auto;  */
    width: 201px;
    display: flex;
    flex-direction: column;
    background-color: #0B87BC;
    padding: 15px 0;
    row-gap: 10px;
    height: 328px;
    /* overflow-y: auto; */
}

.sideMenu .active{
    width: 170px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 10px;
    margin: 0 5px;
    padding: 10px;
    color: #0B87BC;
    background-color: #f7f7f7;
}




.sideMenu .sidemn{
    font-weight: 600;
    width: 170px;
    text-decoration: none;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;

}

.sideMenu .sidemn:hover{
    font-weight: 600;
    border-radius: 10px;
    margin: 0 5px;
    /* padding: 10px; */
    color: #fbf3f3;
    background-color: #126c93;
}

.sideMenu .sideLogout{
    font-weight: 600;
    width: 170px;
    text-decoration: none;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;

}

.sideMenu .sideLogout:hover{
    font-weight: 600;
    border-radius: 10px;
    margin: 0 5px;
    /* padding: 10px; */
    color: #fdfefe;
    background-color: #e10d0d;
}

.sideMenu i{
    /* padding: 9px 0 0 0; */
    align-items: center;
    font-size: 1.5em;
}


/* ======================== Main =================== */

.container-main{
    display: flex;
    gap: 10px;
}

.main{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: var(--color-gray-10, #FFF);
    padding: 10px;
    /* flex: 1;  */
    z-index: 1;
    gap: 20px;
    /* background-color: black; */
}

.main .header-materi{
    display: flex;
    
    gap: 30px;
}

.main .header-materi img{
    border-radius: 40px 0 0 0;
    width: 200px;
    height: 200px;
}

.main .header-materi .intro-materi{
    margin: 30px 30px 0 0;
}

.main .header-materi .intro-materi p{
    font-size: 14px;
}

.main .content-materi{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main .content-materi .atas{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #F7F3F3;
    padding: 20px;
    gap: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.list-materi {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content-materi .atas .intro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.main .content-materi .atas .gambar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 35px;
    border-radius: 10px;
    background-color: #D3FFCC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.main .content-materi .atas .gambar2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 35px;
    border-radius: 10px;
    background-color: #e98888;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.main .content-materi .atas .gambar3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 35px;
    border-radius: 10px;
    background-color: #a4ebed;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ======== button ======== */
.main .content-materi .atas .tombol{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.main .content-materi .atas .tombol2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.tombol .download{
    font-size: 15PX;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: #2525AD;
    border-radius: 10px;
    padding: 5px 10px;
    width: 97px;
}
.tombol2 .download{
    font-size: 15PX;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: #BABABA;
    border-radius: 10px;
    padding: 5px 10px;
    width: 97px;
}

.materi .materi2 .materi3 .tombol{
    color: #171717;
}

.tombol .dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 6px;
    border-radius: 10px;
    color: #2525AD;
    border:#2525AD solid 3px ;
}
.tombol2 .dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 6px;
    border-radius: 10px;
    color: #BABABA;
    border:#BABABA solid 3px ;
}
/* ===== bawah ====== */

.main .content-materi .bawah{
    background-color: F7F3F3;
    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.main .content-materi .bawah2{
    background-color: F7F3F3;
    display: none;
    visibility: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.main .content-materi .materi .materi1 .bawah{
    background-color: F7F3F3;
    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.main .content-materi .bawah .quiz{
    display: flex;
    height: 90px;
    justify-content:flex-start;
    margin: 0px 10px 20px 80px;
    
}
.bawah .quiz .link-quiz{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
    margin: 0 30px 0 40px;
    /* background-color: #0B87BC; */
}
.bawah .quiz .a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bawah .quiz .link-quiz .p {
    content: "";
    background-color: red;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
    width: 9px;
    height: 30px;
    z-index: 8;
}
.bawah .quiz .link-quiz a{
    text-decoration: none;
}



.rotate {
    transform: rotate(180deg);
  }
/* =========== right menu ================ */

.rightMenu{
    border-radius:15px;
    padding: 0;
    align-items: flex-end;
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 10px;
    z-index: 102;
}

.rightMenu .absensi{
    border-radius: 10px;
    width: 250px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rightMenu .history{
    border-radius: 10px;
    width: 250px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ========= history =========== */

.history{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.history .title{
    display: flex;
    justify-content: space-between;
    margin: 3px 5px;
}
.history .title .t{
    color: #0B87BC;
    font-weight: 600;
    font-size: 17px;
}
.history .title .s{
    font-size: 12px;
}
.history .list-history{
    margin: 5px;
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    padding: 10px 0;
    height: auto;
    background-color: #fff;
}

.list-history .historyItem{
    background-color: rgba(217, 217, 217, 0.36);
    display: flex;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    margin: 0;

}
.historyItem .status-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.historyItem .status-box p{
    font-weight: 600;
    font-size: 13px;
}

.historyItem .isi{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.historyItem .isi p{
    font-size: 14px;
    font-weight: 600;
}
.historyItem .isi .name{
    color: #0B87BC;
    font-weight: 600;
    font-size: 15px;
}

.status-box .selesai{
    color: rgb(42, 226, 42);
}
.status-box .proses{
    color: rgb(19, 152, 213);
}




/* =========== absensi =========== */


.absensi .title{
    /* font-size: 15px; */
    padding: 2px 5px;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.absensi .title .t{
    color: #0B87BC;
    font-weight: 600;
    font-size: 17px ;
}
.absensi .title .s{
    color: #555;
    font-size: 13px ;
}

.absensi .list-absensi{
    margin: 5px;
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    padding: 10px 0;
    height: auto;
    background-color: #fff;
}

.list-absensi .absensiItem{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: auto;
    background-color: #ffffff;
}

.absensiItem li{
    color:#0B87BC;
    font-size: 16px;
    font-weight: 600;
}
.absensiItem .waktu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin:0 0 0 20px;
}

.absensiItem .isi p{
    margin:0 0 0 22px;
    font-size: 13px;
}

.absensiItem .jam{
    font-size: 13px;
}

.absensiItem .selesai{
    font-size: 13px;
    color:rgb(22, 219, 22);
}
.absensiItem .terlambat{
    font-size: 13px;
    color:rgb(241, 16, 16);
}

/* animasi  */







/* ==== dummy ==== */

.dummy{
    background-color: black;
    height: 100px;
    width:200px;
}