.search{
    width: 400px;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
    border: #333333 solid 2px;
}

.search-input {
    font-size: 16px;
    font-family: 'lexend', sans-serif;
    color: #333333;
    margin-left: 14px;
    border: 0;
}